version: '3.8'

services:
  # ----------------------------------------------------
  # Servicio de la API (FastAPI)
  # ----------------------------------------------------
  app:
    build: .
    container_name: tesina_fastapi
    restart: always
    ports:
      - "8000:8000"
    # Variables de entorno para conectar a MongoDB Atlas
    environment:
      # !! IMPORTANTE: En producción, usar un archivo .env o un gestor de secretos !!
      # Usamos MONGO_ATLAS_URI para la conexión completa
      MONGO_ATLAS_URI: "mongodb+srv://aguilarhugo55_db_user:c5mfG11QT68ib4my@clusteract1.kpdhd5e.mongodb.net/?appName=ClusterAct1"
      # Usamos DB_NAME para el nombre de la BD específica en Atlas
      DB_NAME: "dash_pm" 
    volumes:
      - .:/app # Montar código
      
# NOTA: Los servicios de bases de datos locales (como 'mongo') han sido eliminados,
# ya que la conexión ahora se realiza directamente a MongoDB Atlas a través de la red.